@tailwind base;
@tailwind components;
@tailwind utilities;

#app,body,html{
    height: 100%;;
}

#app{
    margin: auto;
    max-width: 980px;
    border-left: 1px solid #ccc;
    border-right:  1px solid #ccc;
}


